<%= simple_form_for(@classification_release) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.collection_radio_buttons :classification_type, [[ClassificationRelease::CREDIT, 'Crédito'] ,[ClassificationRelease::DEBT, 'Débito']], :first, :last %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
