<%= render "layouts/head", title: "Classificações do lançamento", description: "Editar classicação"%>

<%= link_to classification_releases_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>

<%= render 'form' %>
