<%= render "layouts/head", title: "Classificação de lançamentos", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Tipo</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @classification_releases.each do |classification_release| %>
      <% present classification_release do |classification_release_presenter| %>
      <tr>
        <td><%= classification_release_presenter.name %></td>
        <td><%= classification_release_presenter.classification_type %></td>
        <td>
          <%= link_to edit_classification_release_path(classification_release), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to classification_release, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @classification_releases, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to new_classification_release_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Nova tipo
<% end %>
