<%= render "layouts/head", title: "Usuários", description: "Alterar dados do usuário"%>

<%= link_to users_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>

<%= render 'form' %>
