<%= render "layouts/head", title: "Usuários", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %>
        <td>
          <%= link_to edit_user_path(user), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_user_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Novo usuário
<% end %>
