<%= simple_form_for(@type_procedure) do |f| %>
<fieldset>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</fieldset>
<% end %>
