<%= render "layouts/head", title: "Tipos de procedimentos", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @type_procedures.each do |type_procedure| %>
      <tr>
        <td><%= type_procedure.name %>
        <td>
          <%= link_to edit_type_procedure_path(type_procedure), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to type_procedure, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_type_procedure_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Novo tipo de procedimento
<% end %>
