<%= render "layouts/head", title: "Tipos de procedimentos", description: "Incluir novo tipo de procedimento"%>

<%= link_to type_procedures_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>

<%= render 'form' %>
