<style>
body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
} 
</style>
<div class="account-container login stacked">
  <div class="content clearfix">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1>Acesso ao sistema</h1>
    <div class="login-fields">
      <p>Entre usando sua conta registrada:</p>
      <div class="field">
        <label for="username">Email:</label>
        <%= f.input :email, label: false, :required => true, :autofocus => true, input_html: {class: "login username-field", placeholder: "Email"} %>
      </div>
      <div class="field">
        <label for="password">Senha:</label>
        <%= f.input :password, label: false, :required => true, input_html: {class: "flogin password-field", placeholder: "Senha"}%>
      </div>        
    </div>
    
    <div class="login-actions">
      <%= f.button :submit, "Entrar", :class => "button btn btn-primary btn-large" %>
    </div>
    <% end %>
  </div>
</div>
