<%= simple_form_for(@apportionment) do |f| %>
<fieldset>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.association :account, collection: accounts_by_organization %>
    <%= f.association :dentist, collection: dentists_by_organization %>
    <%= f.association :type_procedure, collection: type_procedures_by_organization %>
    <%= f.input :dentist_percentage, as: :string, input_html: {class: "perc_value"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</fieldset>
<% end %>

<script>
$('.perc_value').priceFormat({
  prefix: '',
  centsSeparator: ',',
  thousandsSeparator: '.',
  limit: 4,
  centsLimit:1
});
</script>