<%= render "layouts/head", title: "Configuração de rateio", description: "Alterar dados da configuração de rateio"%>

<%= link_to apportionments_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>


<%= render 'form' %>
