<%= render "layouts/head", title: "Configuração do rateio", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Conta</th>
      <th>Dentista</th>
      <th>Tipo de procedimento</th>
      <th>Percentual</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @apportionments.each do |apportionment| %>
      <% present apportionment do |apportionment_presenter| %>
      <tr>
        <td><%= apportionment_presenter.account_name %></td>
        <td><%= apportionment_presenter.dentist_name %></td>
        <td><%= apportionment_presenter.type_procedure_name %></td>
        <td><%= number_to_currency(apportionment.dentist_percentage, unit: "", separator: ",", delimiter: ".") %></td>
        <td>
          <%= link_to edit_apportionment_path(apportionment), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to apportionment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to new_apportionment_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Nova configuração
<% end %>

