<%= simple_form_for(FinancialRelease.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :release_type, as: :hidden, input_html: {value: 3} %>
    <div class="row">
      <div class="span4">
        <%= f.association :account, collection: accounts_by_organization, include_blank: false, input_html: {class: "span4"} %>
      </div>
      <div class="span4">
        <%= f.association :dentist, collection: dentists_by_organization, input_html: {class: "span4"} %>
      </div>
      <div class="span4">
        <%= f.association :type_procedure, collection: type_procedures_by_organization, input_html: {class: "span4"} %>
      </div>
      <div class="span2">
        <%= f.input :release_date, as: :date_string, input_html: {class: "span2", value: I18n.l(Time.now.to_date)} %>
      </div>
      <div class="span2">
        <%= f.input :original_value, as: :currency, input_html: {class: "span2"} %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <%= f.input :description, as: :text, input_html: {class: "span4"}%>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
