<%= simple_form_for(FinancialRelease.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :release_type, as: :hidden, input_html: {value: @type_release} %>
    <div class="row">
      <div class="span2">
        <%= f.association :account, collection: accounts_by_organization, input_html: {class: "span2"} %>
      </div>
      <div class="span3">
        <%= f.association :classification_release, collection: classification_by_organization_and_type(@type_release), input_html: {class: "span3"} %>
      </div>
      <div class="span2">
        <%= f.input :release_date, as: :date_string, input_html: {class: "span2"} %>
      </div>
      <div class="span2">
        <%= f.input :original_value, as: :currency, input_html: {class: "span2"} %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.input :description, as: :text, input_html: {class: "span12"}%>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
