<%= render "layouts/head", title: "Repasse", description: "Valores em aberto do dentista"%>

<%= form_tag update_dentist_values_financial_releases_path, method: :put do %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Procedimento</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Valor a transferir</th>
    </tr>
  </thead>

  <tbody>
    <% @financial_releases.each do |fr| %>
      <tr>
        <td><%= fr.description %></td>
        <td><%= fr.type_procedure.name %></td>
        <td><%= fr.release_date.strftime("%d/%m/%Y")%></td>
        <td><%= fr.original_value%></td>
        <td><%= text_field_tag "value_#{fr.id}", nil, class: "value"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Repassar", class: "btn btn-primary"%>
<% end %>

<script>
  $(".date").mask("99/99/9999");
  $('.value').priceFormat({
    prefix: '',
    centsSeparator: ',',
    thousandsSeparator: '',
    limit: 8,
    centsLimit:2
  });
</script>