<h1>Editing financial_release</h1>

<%= simple_form_for(@financial_release) do |f| %>
  <%= f.error_notification %>
  <% present @financial_release do |financial_release_presenter| %>
  <div class="form-inputs">
    <%= text_field_tag :account, financial_release_presenter.account_name, readonly: true %>
    <%= text_field_tag :dentist, financial_release_presenter.dentist_name, readonly: true %>
    <%= text_field_tag :type_procedure, financial_release_presenter.type_procedure_name, readonly: true %>
    <%= text_field_tag :release_date, @financial_release.release_date, readonly: true %>
    <%= text_field_tag :release_type, @financial_release.release_type, readonly: true %>
    <%= text_field_tag :original_value, @financial_release.original_value, readonly: true %>
    <%= text_field_tag :description, @financial_release.description, readonly: true %>
    <%= f.input :description_canceled %>
    <%= f.input :canceled, as: :hidden, input_html: {value: true}%>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Show', @financial_release %> |
<%= link_to 'Back', financial_releases_path %>
