<h1>Listing financial_releases</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Dentista</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Descrição</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_releases.each do |financial_release| %>
      <tr>
        <td><%= financial_release.release_type %></td>
        <td><%= financial_release.dentist_id %></td>
        <td><%= financial_release.release_date %></td>
        <td><%= financial_release.original_value %></td>
        <td><%= financial_release.description %></td>
        <td><%= link_to 'Show', financial_release %></td>
        <td><%= link_to 'Edit', edit_financial_release_path(financial_release) %></td>
        <td><%= link_to 'Destroy', financial_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial release', new_financial_release_path %>
