<h1>Repasse ao dentista </h1>
<%= simple_form_for(FinancialRelease.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :release_type, as: :hidden, input_html: {value: 4} %>
    <div class="row">
      <div class="span3">
        <%= f.association :account, collection: accounts_dentists_by_organization, selected: @account_id, include_blank: true, label_method: :name, input_html: {class: "span3"} %>
      </div>
      <div class="span1">
        <%= f.input :release_date, as: :date_string, input_html: {class: "date span1"} %>
      </div>
      <div class="span2">
        <%= f.input :original_value, as: :currency, input_html: {class: "value span2"} %>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <%= f.input :description, as: :text, input_html: {class: "span12"}%>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $(".date").mask("99/99/9999");
  $('.value').priceFormat({
    prefix: '',
    centsSeparator: ',',
    thousandsSeparator: '.',
    limit: 8,
    centsLimit:2
  });
</script>
