<%= render "layouts/head", title: "Repasse", description: "Valores em aberto"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @values.each do |val| %>
      <tr>
        <td><%= val.name %></td>
        <td><%= number_to_currency(val.total_value) %></td>
        <td><%= link_to "Transferir", dentist_open_values_financial_releases_path(dentist_id: val.id )%></td>
      </tr>
    <% end %>
  </tbody>
</table>
