<%= render "layouts/head", title: "Extrado simples", description: ""%>

<%= form_tag dentist_statement_reports_path, method: :get, class: "well form-inline" do %>
  <label>Conta: </label>
  <%= select_tag :account, options_from_collection_for_select(accounts_dentists_by_organization, "id", "name", params[:account]) %>
  <label>Período: </label>
  <%= text_field_tag :start_date, params[:start_date], class:"date_string"%>
  <%= text_field_tag :end_date, params[:end_date], class:"date_string"%>
  <%= submit_tag "Filtrar", class: "btn btn-primary"%>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td>Saldo Anterior</td>
      <td></td>
      <td><%= @prior_balance%></td>
    </tr>
    <% @releases.each do |release| %>
      <% present release do |financial_release_presenter| %>
      <tr>
        <td><%= financial_release_presenter.date_formatted %></td>
        <td><%= financial_release_presenter.description %></td>
        <td><%= financial_release_presenter.type_release %></td>
        <td><%= financial_release_presenter.value_formatted %></td>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td>Saldo Final</td>
      <td></td>
      <td><%= @final_balance %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Efetuar pagamento", payment_financial_releases_path(account_id: params[:account]), class: "btn btn-primary btn-large"%>

<script>
  $(".date").mask("99/99/9999");
  $('.value').priceFormat({
    prefix: '',
    centsSeparator: ',',
    thousandsSeparator: '.',
    limit: 8,
    centsLimit:2
  });
</script>
