<%= render "layouts/head", title: "Contas", description: "Alterar dados da conta"%>

<%= link_to accounts_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>


<%= render 'form' %>
