<%= render "layouts/head", title: "Contas", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Saldo</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= number_to_currency(account.balance, unit: "R$", separator: ",", delimiter: ".") %></td>
        <td>
          <%= link_to edit_account_path(account), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
          <%= link_to financial_releases_path(by_account: account.id), class: "btn btn-default" do%>
            <i class="fa fa-list"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to new_account_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Nova conta
<% end %>