<%= render "layouts/head", title: "Contas", description: "Incluir nova conta"%>

<%= link_to accounts_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>

<%= render 'form' %>