<%= simple_form_for(@dentist) do |f| %>
<fieldset>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :user, collection: organization_users, label_method: :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</fieldset>
<% end %>

