<%= render "layouts/head", title: "Dentistas", description: "Alterar dados do dentista"%>

<%= link_to dentists_path, class: "btn btn-default" do %>
  <i class="fa fa-reply"></i> Voltar
<% end %>
<hr>


<%= render 'form' %>
