<%= render "layouts/head", title: "Dentistas", description: "Lista"%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th class="last_column">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @dentists.each do |dentist| %>
      <tr>
        <td><%= dentist.name %></td>
        <td>
          <%= link_to edit_dentist_path(dentist), class: "btn btn-default" do %>
            <i class="fa fa-edit"></i>
          <% end %>
          <%= link_to dentist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to new_dentist_path, class: "btn btn-primary" do%>
  <i class="fa fa-plus"></i> Novo dentista
<% end %>
